.donation-page{
    text-align:center;
    display:flex;
}


.form-image{
    height:1000px;
    width:600px;
    object-fit:cover;
    border-radius:20px;
}



.mpesa-logo{
    width:100px;
    height:60px;
    margin-right:80px;
    margin-left:80px;
}

.paypal-logo{
    width:120px;
    height:30px;
    margin-top:15px;
    align-items:center;
    
}

.card-svg{
width:50px;
margin:0px;
height:40px;
}

.card-pay-div{
    display: flex;
    align-items:center;
    color:var(--blue);
    font-size:24px;
    font-weight:bold;
  

}

.main-header{
color:var(--blue);
font-size:32px;
text-align:center;


}

.sub-header{
font-size:24px;
color:var(--blue)
}

.form-container{
    border:5px solid var(--pink);
    width:900px;
    border-radius:15px;
    height:1000px;
    margin-left:50px;
}

.pay-methods{
    display:flex;
    justify-content:center;
    margin:0px;
}

.pay-form{
    border:5px solid var(--pink);
    margin:20px;
    color:var(--blue);
    border-radius:20px;
    height:800px;
    /* background-color:orange; */
}

.pay-form input{
    text-align:center;
    border:1px solid var(--grey);
    border-radius:5px;
}

.pay-form input[type="text"] {
width:350px;
height:30px;
}

.donate-button{
    background-color:var(--pink);
    color:var(--blue);
    width:180px;
    height:50px;
    font-size:24px;
    border-radius:10px;
    font-weight:bold;
    margin-top:20px;
}

.contacts{
display: flex;
justify-content:space-around;
width:800px;
margin-left: auto;
margin-right: auto;
}

.payer-details{
display: flex;
flex-wrap:wrap;
justify-content:space-around;
width:800px;
/* background-color:red; */
margin-left: auto;
margin-right: auto;}


.payer-details input{
margin-top:20px;
    }

.additional-options{
display: flex;
height:20px;
justify-content:space-around;
width:800px;
margin-left: auto;
margin-right: auto;
/* background-color: brown; */
font-size:14px;

}
.additional-options input{
margin:0px;
    
    }