.donation-page{
    text-align:center;
    display:flex;
}


.form-image{
    height:1000px;
    width:500px;
    object-fit:cover;
    border-radius:20px;
}



.mpesa-logo{
    width:100px;
    height:60px;
    margin-right:80px;
    margin-left:80px;
}

.paypal-logo{
    width:120px;
    height:30px;
    margin-top:15px;
    align-items:center;
    
}

.card-svg{
width:50px;
margin:0px;
height:40px;
}

.card-pay-div{
    display: flex;
    align-items:center;
    color:var(--blue);
    font-size:24px;
    font-weight:bold;
  

}

.main-header{
color:var(--blue);
font-size:32px;
text-align:center;


}

.sub-header{
font-size:24px;
color:var(--blue)
}

.form-container{
    border:5px solid var(--green);
    width:900px;
    border-radius:15px;
    height:1000px;
    margin-left:0px;
}

.pay-methods{
    display:flex;
    justify-content:center;
    margin:0px;
}

.pay-form{
    border:5px solid var(--green);
    margin:20px;
    color:var(--blue);
    border-radius:20px;
    height:800px;
    /* background-color:orange; */
}

.pay-form input{
    text-align:center;
    border:1px solid var(--grey);
    border-radius:5px;
}

.pay-form input[type="text"] {
width:350px;
height:30px;
}

.prompt-button{
    background-color:white;
    color:var(--green);
    width:120px;
    height:30px;
    font-size:16px;
    border-radius:10px;
    font-weight:bold;
    margin-top:10px;
}



.contacts{
display: flex;
justify-content:space-around;
width:800px;
margin-left: auto;
margin-right: auto;
}

/* .payer-details{
display: flex;
flex-wrap:wrap;
justify-content:space-around;
width:800px;
background-color:red;
margin-left: auto;
margin-right: auto;} */

.paybill-div{
    display:flex;
    flex-direction:column;
    border:1px solid black;
    border-radius:10px;
    width:400px;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    color:black
}

.send-money{
    display:flex;
    flex-direction:column;
    border:1px solid black;
    border-radius:10px;
    width:400px;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    color:black

}

.send-money-details{
    background-color:var(--green);
    padding-top:10px;
    padding-bottom:10px;
    justify-content:space-around;
    align-items:space-around;
    color:white;
    margin-left:auto;
    margin-right:auto;
    margin:10px;
    border-radius:5px;

}

.send-money-details div{
    margin-top:20px;
    margin-bottom:5px;
    border:1px solid black;
    background-color:white;
    width:250px;
    margin-left:auto;
    margin-right:auto;
    color:black;
    border-radius:5px;
    /* border-radius:; */

}

.paybill-details{
    background-color:var(--green);
    padding-top:10px;
    padding-bottom:10px;
    justify-content:space-around;
    align-items:space-around;
    color:white;
    margin-left:auto;
    margin-right:auto;
    margin:10px;
    border-radius:5px;
}

.paybill-details div{
    margin-top:20px;
    margin-bottom:5px;
    border:1px solid black;
    background-color:white;
    width:250px;
    margin-left:auto;
    margin-right:auto;
    color:black;
    border-radius:5px;
    /* border-radius:; */
 
}

.payer-details input{
margin-top:20px;
    }

.additional-options{
display: flex;
height:20px;
justify-content:space-around;
width:800px;
margin-left: auto;
margin-right: auto;
/* background-color: brown; */
font-size:14px;

}
.additional-options input{
margin:0px;
    
    }

.prompt{
    display:flex;
    flex-direction:column;
    border:1px solid black;
    border-radius:10px;
    width:400px;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    color:black

}

.prompt-details{
    background-color:var(--green);
    padding-top:10px;
    padding-bottom:10px;
    justify-content:space-around;
    align-items:space-around;
    color:white;
    margin-left:auto;
    margin-right:auto;
    margin:10px;
    border-radius:5px;

}

.prompt-details input{
    border:1px solid black;
    background-color:white;
    width:200px;
    margin-left:auto;
    margin-right:auto;
    color:black;
    border-radius:5px;
    margin-bottom:0px;
}


